<section class="contact-section bg-light container fieldset mt-5 mr3 pt-3 fieldset ">

    <h1 class="border-bottom text-center"> Contactez-nous </h1>
    <br>
  <div class="card">

    
    <div class="row">

      
      <div class="col-lg-8">

        <div class="card-body form">

          <h3 class="mt-4 text-center"><i class="fas fa-envelope pr-2"></i>Ecrivez-nous !</h3>
          <br>

          <div class="row">
            
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input type="text" id="form-contact-name" class="form-control", placeholder="Nom">
                <label> </label>
              </div>
            </div>
                
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input type="text" id="form-contact-email" class="form-control", placeholder="Email">
                <label> </label>
              </div>
            </div>
          </div>
          
          <div class="row">
            
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input type="text" id="form-contact-phone" class="form-control", placeholder="Téléphone">
                <label> </label>
              </div>
            </div>
            
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input type="text" id="form-contact-company" class="form-control", placeholder="Entreprise">
                <label> </label>
              </div>
            </div>
        
          </div>
          
          <div class="row">

            <div class="col-md-12">
              <div class="md-form mb-0">
                <textarea id="form-contact-message" class="form-control md-textarea" rows="3" placeholder="Message"></textarea>
                <a href="mailto:thp.toulouse@gmail.com"class="btn-floating btn-lg text-dark">
                    Envoyer
                  <i class="far fa-paper-plane text-dark"></i>
                </a>
              </div>
            </div>
          </div>
        
        </div>

      </div>
          
      <div class="col-lg-4">

        <div class="card-body contact text-center h-100 white-text">

          <h3 class="my-4 pb-2">Contact</h3>
          <br>
          <hr class="hr-light my-4">
          <ul class="text-lg-left list-unstyled ml-4">
            <li>
              <p><i class="fas fa-map-marker-alt pr-2"></i>Toulouse, 31000</p>
            </li>
            <li>
              <p><i class="fas fa-phone pr-2"></i>06 12 34 56 78</p>
            </li>
            <li>
              <p><i class="fas fa-envelope pr-2"></i>thp.toulouse@gmail.com</p>
            </li>
          </ul>
          <hr class="hr-light my-4">
        </div>

      </div>

    </div>

  </div>

</section>