    <div class= "bg-light container fieldset mt-5 mr3 pt-3 fieldset col-lg-4 col-lg-offset-4">
        <h1 class="border-bottom"> La Team THP Toulouse</h1>
            <br>
            <p>Amy McArthur : <a href="mailto:amymcarthur10@gmail.com">amymcarthur10@gmail.com</a> </p>
            <p>Nathan Château : <a href="mailto:nathanchateau@gmail.com">nathanchateau@gmail.com</a> </p>
            <p>Hadrien Samouillan : <a href="mailto:adrien.samouillan@gmail.com">adrien.samouillan@gmail.com</a> </p>
   </div>